In [2]:
import pandas as pd

In [7]:
participants = pd.read_csv("./MDD_data/EMA_data_all participants.csv")

In [22]:
participants1 = participants[participants.ID == 1]

In [24]:
participants1.head()

,ID,gender,age,time,schedule,day,hour,minute,ADL1,ADL2-1,...,forgetful,headache,sleepiness,total_anxiety,positive_mood,negative_mood,total_dep,sleep_quality,awakenings,sleep_duration
0,1,1,34,2005/03/15 11:39,5,0,0,0,2.0,2,...,50.0,50.0,60.0,63.333333,36.666667,65.000000,64.166667,NaN,NaN,NaN
1,1,1,34,2005/03/15 12:00,5,0,0,21,2.0,3,...,50.0,0.0,20.0,35.000000,21.666667,60.000000,69.166667,NaN,NaN,NaN
2,1,1,34,2005/03/15 18:34,5,0,6,415,1.0,2,...,70.0,0.0,10.0,30.000000,50.000000,21.666667,35.833333,NaN,NaN,NaN
3,1,1,34,2005/03/16 2:00,1,1,14,861,NaN,NaN,...,30.0,0.0,30.0,18.333333,31.666667,21.666667,45.000000,NaN,NaN,NaN
4,1,1,34,2005/03/16 6:28,2,1,18,1129,NaN,NaN,...,50.0,0.0,30.0,6.666667,51.666667,5.000000,26.666667,85.0,2.0,2

In [25]:
participants1.columns

Index(['ID', 'gender', 'age', 'time', 'schedule', 'day', 'hour', 'minute',
       'ADL1', 'ADL2-1', 'ADL2-2', 'fatigue', 'unconcenration', 'forgetful',
       'headache', 'sleepiness', 'total_anxiety', 'positive_mood',
       'negative_mood', 'total_dep', 'sleep_quality', 'awakenings',
       'sleep_duration'],
      dtype='object')

In [37]:
start_time = participants1.shift().time

In [43]:
participants1['start_time'] = pd.to_datetime(start_time)

/home/hiroyuki/miniconda3/envs/jbhi/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [45]:
participants1['time'] = pd.to_datetime(participants1.time)

/home/hiroyuki/miniconda3/envs/jbhi/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
participants1[['start_time', 'time']].head()

           start_time                time
0                 NaT 2005-03-15 11:39:00
1 2005-03-15 11:39:00 2005-03-15 12:00:00
2 2005-03-15 12:00:00 2005-03-15 18:34:00
3 2005-03-15 18:34:00 2005-03-16 02:00:00
4 2005-03-16 02:00:00 2005-03-16 06:28:00

In [14]:
activity_1 = pd.read_csv("./MDD_data/Activity_Data/1Aka_ActivityALL.csv", index_col=0, parse_dates=True)

In [19]:
import glob
glob.glob("./MDD_data/Activity_Data/*.csv")

['./MDD_data/Activity_Data/1Aka_ActivityALL.csv']

In [96]:
activity_1 = activity_1.sort_index()

In [17]:
activity_1.index = pd.to_datetime(activity_1.time)

In [80]:
activity_1['2005-03-29 11:39:00':'2005-04-30 12:00:00']

Empty DataFrame
Columns: [time, ECOLOG_OFF, Activity]
Index: []

In [83]:
type(participants1.time)

pandas.core.series.Series

In [110]:
def extractActivities(row):
    startTime = row.start_time
    endTime = row.time
    if pd.isnull(startTime):
        activities = activity_1[:endTime].Activity
    else:
        activities = activity_1[startTime:endTime].Activity
    return activities

In [111]:
extractActivities(participants1.iloc[2])

time
2005-03-15 12:00:00    133
2005-03-15 12:01:00    164
2005-03-15 12:02:00    128
2005-03-15 12:03:00    170
2005-03-15 12:04:00    225
2005-03-15 12:05:00    227
2005-03-15 12:06:00    239
2005-03-15 12:07:00    217
2005-03-15 12:08:00    149
2005-03-15 12:09:00     70
2005-03-15 12:10:00     51
2005-03-15 12:11:00     41
2005-03-15 12:12:00    102
2005-03-15 12:13:00    135
2005-03-15 12:14:00     72
2005-03-15 12:15:00    139
2005-03-15 12:16:00    100
2005-03-15 12:17:00     45
2005-03-15 12:18:00     62
2005-03-15 12:19:00     62
2005-03-15 12:20:00     64
2005-03-15 12:21:00     28
2005-03-15 12:22:00     37
2005-03-15 12:23:00     91
2005-03-15 12:24:00    174
2005-03-15 12:25:00    197
2005-03-15 12:26:00    200
2005-03-15 12:27:00    184
2005-03-15 12:28:00    309
2005-03-15 12:29:00    315
                      ...
2005-03-15 18:05:00    236
2005-03-15 18:06:00    178
2005-03-15 18:07:00    289
2005-03-15 18:08:00     63
2005-03-15 18:09:00    514
2005-03-15 18:10:00    579
2005-03-15 18:11:00    645
2005-03-15 18:12:00    555
2005-03-15 18:13:00    573
2005-03-15 18:14:00    372
2005-03-15 18:15:00    657
2005-03-15 18:16:00    462
2005-03-15 18:17:00    511
2005-03-15 18:18:00    126
2005-03-15 18:19:00     42
2005-03-15 18:20:00      7
2005-03-15 18:21:00     22
2005-03-15 18:22:00     25
2005-03-15 18:23:00     14
2005-03-15 18:24:00    138
2005-03-15 18:25:00    180
2005-03-15 18:26:00    162
2005-03-15 18:27:00     61
2005-03-15 18:28:00     57
2005-03-15 18:29:00     94
2005-03-15 18:30:00    184
2005-03-15 18:31:00    198
2005-03-15 18:32:00    189
2005-03-15 18:33:00    171
2005-03-15 18:34:00    165
Name: Activity, Length: 395, dtype: int64

In [90]:
[participants1.iloc[58].start_time, participants1.iloc[58].time]

[Timestamp('2005-04-05 18:14:00'), Timestamp('2005-04-06 06:53:00')]

In [99]:
activity_1[participants1.iloc[59].start_time:participants1.iloc[59].time]

Empty DataFrame
Columns: [time, ECOLOG_OFF, Activity]
Index: []

In [108]:
participants1.apply(extractActivities, axis=1)

ValueError: Shape of passed values is (84, 9916), indices imply (84, 24)